{% extends "base.html" %}

{% block title %}Jak to działa?{% endblock %}

{% block content %}
<div style="margin-top:100px;">
    <div class="container">
        <h3>Jak to działa?</h3>
        <dl class="mt-2">
            <dt class="text-dark">Obserwacja interesujących treści</dt>
            <dd class="mb-3 text-dark"><strong>Ten portal skupia się przede wszystkim na tym, aby użytkownicy widzieli głównie te treści które ich interesują. Więc załóżmy
                , że w tej chwili interesuje Cię tematyka pewności siebie i poczucia własnej wartości. Możesz więc zacząć obserwować właśnie te kategorie.
                Dzięki temu, za każdym razem po wejściu na portal(jeśli będziesz zalogowany), będą Ci się wyświetlały przedewszystkim tematy związane z
                pewnością siebie i poczuciem własnej wartości. Oczywiście w każdej chwili możesz zmieniać swoje preferencje, obserwując lub przeglądając
                 inne kategorie.
                
                <p class="font-weight-bold">Kategorie możesz również tworzyć, jeśli na przykład lubisz jakiś konkretny temat, możesz go utworzyć i wrzucać do niego treści.
                    Oczywiście każdy inny też będzie mógł uzupełniać dany temat! :)
                </p></strong>
            </dd>
            <dt class="text-dark">Dodawanie treści</dt>
            <dd class="mb-3 text-dark"><strong>Dodawanie treści zostało maksymalnie uproszczone. Aktualnie są dwie opcje - dodajesz link lub post. Link to po prostu link
                do dowolnej treści w internecie, która Cię zainteresowała. Może to być wideo lub tekst. Może pochodzić praktycznie z dowolnego źródła ponieważ portal większość przetworzy.
                Nawet Facebook wchodzi w grę, wystarczy skopiować link do danego posta.
            </strong>
            </dd>
            <dt class="text-dark">Polubienia i dodawanie komentarzy</dt>
            <dd class="text-dark"><strong>Polubienia służą temu, aby można było tworzyć rankingi najbardziej pomocnych treści. Pod każdym postem można również zostawić komentarz i dyskutować z 
                    innymi użytkownikami na danym temat.</strong></dd>
            </dl>
    </div>
</div>
{% endblock %}